body{
  width: 100%;
  marigin: 0px;
}
.spacer{
   flex: 1 1  auto;
 }
.logo{
  font-size: 25px;
}

mat-icon{
  margin-top: auto;
  margin-bottom: 6px;
  margin-right: 1px;
  width: 30px;
  height: 30px;
}
